<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bussiness.mapper.DbEvaluationIndexMapper">
    
    <resultMap type="DbEvaluationIndex" id="DbEvaluationIndexResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="point1"    column="point1"    />
        <result property="point2"    column="point2"    />
        <result property="point3"    column="point3"    />
        <result property="point4"    column="point4"    />
        <result property="point5"    column="point5"    />
    </resultMap>

    <sql id="selectDbEvaluationIndexVo">
        select id, content, point1, point2, point3, point4, point5 from db_evaluation_index
    </sql>

    <select id="selectDbEvaluationIndexList" parameterType="DbEvaluationIndex" resultMap="DbEvaluationIndexResult">
        <include refid="selectDbEvaluationIndexVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="point1 != null "> and point1 = #{point1}</if>
            <if test="point2 != null "> and point2 = #{point2}</if>
            <if test="point3 != null "> and point3 = #{point3}</if>
            <if test="point4 != null "> and point4 = #{point4}</if>
            <if test="point5 != null "> and point5 = #{point5}</if>
        </where>
    </select>
    
    <select id="selectDbEvaluationIndexById" parameterType="Long" resultMap="DbEvaluationIndexResult">
        <include refid="selectDbEvaluationIndexVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDbEvaluationIndex" parameterType="DbEvaluationIndex" useGeneratedKeys="true" keyProperty="id">
        insert into db_evaluation_index
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="point1 != null">point1,</if>
            <if test="point2 != null">point2,</if>
            <if test="point3 != null">point3,</if>
            <if test="point4 != null">point4,</if>
            <if test="point5 != null">point5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="point1 != null">#{point1},</if>
            <if test="point2 != null">#{point2},</if>
            <if test="point3 != null">#{point3},</if>
            <if test="point4 != null">#{point4},</if>
            <if test="point5 != null">#{point5},</if>
         </trim>
    </insert>

    <update id="updateDbEvaluationIndex" parameterType="DbEvaluationIndex">
        update db_evaluation_index
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="point1 != null">point1 = #{point1},</if>
            <if test="point2 != null">point2 = #{point2},</if>
            <if test="point3 != null">point3 = #{point3},</if>
            <if test="point4 != null">point4 = #{point4},</if>
            <if test="point5 != null">point5 = #{point5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbEvaluationIndexById" parameterType="Long">
        delete from db_evaluation_index where id = #{id}
    </delete>

    <delete id="deleteDbEvaluationIndexByIds" parameterType="String">
        delete from db_evaluation_index where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>