<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bussiness.mapper.DbWeightControlMapper">
    
    <resultMap type="DbWeightControl" id="DbWeightControlResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="weight"    column="weight"    />
    </resultMap>

    <sql id="selectDbWeightControlVo">
        select id, content, weight from db_weight_control
    </sql>

    <select id="selectDbWeightControlList" parameterType="DbWeightControl" resultMap="DbWeightControlResult">
        <include refid="selectDbWeightControlVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="weight != null "> and weight = #{weight}</if>
        </where>
    </select>
    
    <select id="selectDbWeightControlById" parameterType="Long" resultMap="DbWeightControlResult">
        <include refid="selectDbWeightControlVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDbWeightControl" parameterType="DbWeightControl" useGeneratedKeys="true" keyProperty="id">
        insert into db_weight_control
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="weight != null">weight,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="weight != null">#{weight},</if>
         </trim>
    </insert>

    <update id="updateDbWeightControl" parameterType="DbWeightControl">
        update db_weight_control
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="weight != null">weight = #{weight},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbWeightControlById" parameterType="Long">
        delete from db_weight_control where id = #{id}
    </delete>

    <delete id="deleteDbWeightControlByIds" parameterType="String">
        delete from db_weight_control where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>